<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Add a Team</h1>


<div>
    <hr>

    <form method="post" th:action="@{/saveTeam}" th:object="${team}">

        <input type="hidden" th:field="*{teamId}">
        Team Name: <input type="text" th:field="*{teamName}" placeholder="Enter Team Name"><br>
        Continent: <input type="text" th:field="*{continent}" placeholder="Enter Team Continent"><br>

        Games Played: <input type="number" th:field="*{gamesPlayed}" placeholder="Enter Amount of Games Played"><br>
        Games Won: <input type="number" th:field="*{gamesWon}" placeholder="Enter Amount of Games Won"><br>
        Games Drawn: <input type="number" th:field="*{gamesDrawn}" placeholder="Enter Amount of Games Drawn"><br>
        Games Lost: <input type="number" th:field="*{gamesLost}" placeholder="Enter Amount of Games Lost"><br>

        <input type="submit" value="Add Team">

    </form>

    <form th:action="@{/displayResults}">
        <input type="submit" value="DisplayResults">
    </form>
    <hr>

</div>
</body>
</html>