<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{~/css/style.css}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
</head>
<body>
<div class="fragment" th:insert="supplement.html :: header"></div>


<h1>List of all the Teams: </h1>

<table>
    <tr><th>Team(Country)</th><th>Continent</th><th>Played</th><th>Won</th><th>Drawn</th><th>Lost</th><th>Points</th></tr>
    <th:block th:each="t:${team}">
        <tr><td th:text="${t.teamName}"></td>
            <td th:text="${t.continent}"></td>
            <td th:text="${t.gamesPlayed}"></td>
            <td th:text="${t.gamesWon}"></td>
            <td th:text="${t.gamesDrawn}"></td>
            <td th:text="${t.gamesLost}"></td>
            <td th:text="${t.gamesWon * 3 + t.gamesDrawn}"></td>
        </tr>
    </th:block>
</table>






<form th:action="@{/sortTeam}">
    <input type="radio" name="sort" value="name" checked>Name

    <input type="radio" name="sort" value="continent">Continent

    <input type="radio" name="sort" value="points">Points

    <input type="submit" value="Sort">
</form>







<footer th:replace="supplement.html :: footer"></footer>
</body>
</html>