<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{~/css/style.css}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
</head>
<body id="cupBackground">
<div class="fragment" th:insert="supplement.html :: header"></div>



<div class="formTitle"><h1><strong>EDIT TEAM</strong></h1></div>

<div class="formInput">
    <table id="myTeams">
        <tr>
            <th>Team(Country)</th>
            <th>Continent</th>
            <th>Played</th>
            <th>Won</th>
            <th>Drawn</th>
            <th>Lost</th>
            <th></th>
        </tr>
        <th:block th:each="t:${team}" id="potato">
            <tr class="childRow" id="rows">
                <td th:text="${t.teamName}"></td>
                <td th:text="${t.continent}"></td>
                <td th:text="${t.gamesPlayed}"></td>
                <td th:text="${t.gamesWon}"></td>
                <td th:text="${t.gamesDrawn}"></td>
                <td th:text="${t.gamesLost}"></td>
                <td><a th:href="@{'editTeamById/' + ${t.teamId}}">Update</a></td>
            </tr>
        </th:block>
    </table>

    <div class="searchTitle"><h1>Search</h1></div>
    <div class="divInput">
        <h2 class="searchName">Team Name:</h2>
        <input class="searchInput" type="text" id="search-input" placeholder="Search for a team">
    </div>

</div>







<footer th:replace="supplement.html :: footer"></footer>


<script>
    //source: https://stackoverflow.com/questions/8746882/jquery-contains-selector-uppercase-and-lower-case-issue
    $.extend($.expr[':'], {
        'contains': function(elem, i, match) {
            return (elem.textContent || elem.innerText || '').toLowerCase()
                .indexOf((match[3] || "").toLowerCase()) >= 0;
        }
    });

    var $rows = $('table tr:not(:first-child)');

    $("#search-input").keyup(function() {
        var value = $.trim(this.value);

        if (value === "")
            $rows.show();
        else {
            $rows.hide();
            $rows.has("td:contains(" + value + ")").show();
        }
    });
</script>

</body>
</html>