<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/addTeam}">
    <input type="submit" value="Add Team">
</form>

<form th:action="@{/displayResults}">
    <input type="submit" value="Display Results">
</form>

<form th:action="@{/deleteTeam}">
    <input type="submit" value="Delete Team">
</form>

<form th:action="@{/editTeam}">
    <input type="submit" value="Edit Team">
</form>



</body>
</html>